.NavBar {
    height: 60px;
    background-color: black;
    width: 100%;
    padding: 0px;
    margin: auto;
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:0;
    background-size: cover;
}